/* soft reset do css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url(https://image.freepik.com/vetores-gratis/ilustracao-em-vetor-futurista-3d_73458-361.jpg);
    background-size: auto 225vh;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    font-size: 12px;
  }

  /* se a tela tiver pelomenos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint*/
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint*/
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .menu {
    background-image: url(http://images.gofreedownload.net/2/solid-triangle-background-58967.jpg);
    position: fixed;
    width: 100vw;
    top: 0;
  }
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }

  .menu a {
    display: block;
    padding: 10px 20px;    
  }
  
  a {
    color: whitesmoke;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center;
  }

  .site-title {
    font-size: 4em;
    font-family: 'Dancing Script', cursive;
  }
  
  .site-subtitle {
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
  }

  .Portfólio {
    padding: 2em;
    height: 100vh;
  } 

  .Portfólio h2 {
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 1.5em;
    font-size: 1.3em;
    text-align: center;
  }

  .Portfólio .grid {
    display: grid;
    gap: 2em;
    color: whitesmoke;
  }
  
  @media (min-width: 560px) {
    .Portfólio .grid {
      color: whitesmoke;
      grid-template-columns: 240px 240px;
    }
  }

  @media (min-width: 880px) {
    .Portfólio .grid {
      color: whitesmoke;
      align-content:center;
      grid-template-columns: repeat(3, 240px);
      justify-content: center;
      height: calc(100vh - 4.5em - 48px);
    }
  }

  @media (min-width: 1200px) {
    .Portfólio .grid {
      color: whitesmoke;
      grid-template-columns: repeat(4, 240px);
      justify-content: center;
    }
  }

  .Portfólio figure{
    text-align: center;
  }

  .img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover;

    border-radius: 15px;
  }

 /* @media (min-width: 1200px) {
    .img-portfolio {
      height: auto;
      width: 100%;
    }
  }*/